In [1318]:
import pandas as pd
import numpy as np

In [1319]:
file_paths = [
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2014\\Silverstone_2014.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2014\\Spa_2014.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2014\\Bahrain_2014.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2014\\Cota_2014.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2014\\Fuji_2014.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2014\\Interlagos_2014.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2014\\LeMans_2014.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2014\\Shanghai_2014.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2015\\Silverstone_2015.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2015\\Spa_2015.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2015\\Bahrain_2015.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2015\\Cota_2015.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2015\\Fuji_2015.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2015\\Nurburgring_2015.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2015\\LeMans_2015.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2015\\Shanghai_2015.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2016\\Silverstone_2016.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2016\\Spa_2016.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2016\\Bahrain_2016.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2016\\Cota_2016.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2016\\Fuji_2016.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2016\\Nurburgring_2016.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2016\\LeMans_2016.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2016\\Shanghai_2016.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2016\\Mexico_2016.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2017\\Silverstone_2017.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2017\\Spa_2017.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2017\\Bahrain_2017.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2017\\Cota_2017.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2017\\Fuji_2017.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2017\\Nurburgring_2017.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2017\\LeMans_2017.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2017\\Shanghai_2017.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2017\\Mexico_2017.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2018\\Silverstone_2018.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2018\\Spa_2018.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2018\\Fuji_2018.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2018\\LeMans_2018.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2018\\Shanghai_2018.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2019\\Fuji_2019.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2019\\Sebring_2019.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2019\\Shanghai_2019.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2019\\Silverstone_2019.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2019\\Spa_2019.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2019\\Bahrain_2019.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2020\\Cota_2020.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2020\\LeMans_2020.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2020\\Spa_2020.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2020\\Bahrain_2020.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2021\\Algarve_2021.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2021\\LeMans_2021.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2021\\Spa_2021.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2021\\Monza_2021.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2021\\Bahrain_2021.csv',
    'C:\\Data Science\\Projetos\\wec-analysis\\Datasets\\2021\\Bahrain2_2021.csv'
       
]

dfs = []

for file_path in file_paths:
    df = pd.read_csv(file_path, delimiter=';')
    race = file_path.split('\\')[-1].split('_')[0]
    season = int(file_path.split('_')[-1].split('.')[0])
    df['race'] = race
    df['season'] = season
    dfs.append(df)


wec_data = pd.concat(dfs, ignore_index=True)

In [1320]:
# Rename all columns to lowercase
wec_data.columns = [col.lower() for col in wec_data.columns]

# Rename the 'position' column to 'overall_position'
wec_data.rename(columns={'position': 'overall_position'}, inplace=True)

# Rename the 'fl_lapnum' column to 'fl_lap_number'
wec_data.rename(columns={'fl_lapnum': 'fl_lap_number'}, inplace=True)

# Rename the 'fl_kph' column to 'fl_kph_average'
wec_data.rename(columns={'fl_kph': 'fl_kph_average'}, inplace=True)

# Rename the 'gap_previous' column to 'gap_car_ahead'
wec_data.rename(columns={'gap_previous': 'gap_car_ahead'}, inplace=True)

In [1321]:
# Concatenate 'number' and 'team' columns as a new column 'car'
wec_data['car'] = wec_data['team'] + ' #' + wec_data['number'].astype(str)

In [1322]:

# Map 'D' to 'Dunlop', 'M' to 'Michelin', and 'G' to 'Goodyear' in the 'Tyres' column
wec_data['tyres'] = wec_data['tyres'].map({'D': 'Dunlop', 'M': 'Michelin', 'G': 'Goodyear'})

In [1323]:
# Drop the 'Unnamed: 20' column
wec_data = wec_data.drop(['unnamed: 20', 'driver_4', 'division', 'number'], axis=1)

In [1324]:
# Create a new column 'class_position' based on 'overall_position' within each 'class'
wec_data['class_position'] = wec_data.groupby(['season', 'race', 'class'])['overall_position'].rank().astype(int)

In [1325]:
# Replace single quotes with colons in the 'total_time' and 'fl_time' columns
wec_data['total_time'] = wec_data['total_time'].str.replace("'", ":")
wec_data['fl_time'] = wec_data['fl_time'].str.replace("'", ":")

In [1326]:
# Update the condition for Bahrain 2019 to have event_duration as 8
conditions = [
    (wec_data['race'] == 'LeMans'),
    (wec_data['race'] == 'Sebring') & (wec_data['season'].isin([2019, 2022, 2023]) | wec_data['race'].isin(['Bahrain', 'Algarve']) & wec_data['season'].isin([2020, 2021, 2022, 2023])),
    (wec_data['race'].isin(['Silverstone', 'Shanghai']) & (wec_data['season'] == 2019)),
    (wec_data['race'] == 'Bahrain') & (wec_data['season'].isin([2019,2020,2021]))
]

choices = [24, 8, 4, 8]

wec_data['event_duration'] = np.select(conditions, choices, default=6)

In [1327]:
# Rename 'Bahrain2' to 'Bahrain 2' in the 'race' column
wec_data['race'] = wec_data['race'].replace('Bahrain2', 'Bahrain 2')

In [1328]:
# Reorder columns as needed
wec_data = wec_data[['car', 'overall_position', 'class_position', 'team', 'vehicle', 'class', 'group', 'race', 'event_duration', 'season', 'laps', 'total_time', 'gap_first', 'gap_car_ahead', 'tyres', 'status', 'fl_lap_number', 'fl_time', 'fl_kph_average', 'driver_1', 'driver_2', 'driver_3']]

In [1329]:
# Write the merged dataframe to a new CSV file
wec_data.to_csv('C:\Data Science\Projetos\wec-analysis\Datasets\wec_data.csv', index=False)

In [1330]:
wec_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1865 entries, 0 to 1864
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car               1865 non-null   object
 1   overall_position  1865 non-null   int64
 2   class_position    1865 non-null   int32
 3   team              1865 non-null   object
 4   vehicle           1865 non-null   object
 5   class             1865 non-null   object
 6   group             296 non-null    object
 7   race              1865 non-null   object
 8   event_duration    1865 non-null   int32
 9   season            1865 non-null   int64
 10  laps              1865 non-null   int64
 11  total_time        1860 non-null   object
 12  gap_first         1809 non-null   object
 13  gap_car_ahead     1808 non-null   object
 14  tyres             1865 non-null   object
 15  status            1865 non-null   object
 16  fl_lap_number     1857 non-null   float64
 17  fl_time           1857 non-null   object
 18  fl_kph_average    1857 non-null   float64
 19  driver_1          1865 non-null   object
 20  driver_2          1865 non-null   object
 21  driver_3          1551 non-null   object
dtypes: float64(2), int32(2), int64(3), object(15)
memory usage: 306.1+ KB

In [1331]:
# Display the dataset with only the 'class', 'group', 'division', and 'status' columns
subset = wec_data[['class', 'group','status']]
subset.sample(10)

          class group          status
1615       LMP2   NaN      Classified
1569   LMGTE Am   NaN  Not classified
1473       LMP2   NaN      Classified
766        LMP1   NaN         Retired
585   LMGTE Pro   NaN  Not classified
965    LMGTE Am   NaN      Classified
1700       LMP2   P/A      Classified
1642   HYPERCAR     H      Classified
1720       LMP2   P/A         Retired
1275       LMP1     H      Classified

In [1332]:
wec_data.tail(10)

,car,overall_position,class_position,team,vehicle,class,group,race,event_duration,season,...,gap_first,gap_car_ahead,tyres,status,fl_lap_number,fl_time,fl_kph_average,driver_1,driver_2,driver_3
1855,Cetilar Racing #47,22,4,Cetilar Racing,Ferrari 488 GTE Evo,LMGTE Am,NaN,Bahrain,8,2021,...,18 Laps,34.045,Michelin,Classified,207.0,1:58.552,164.3,Roberto LACORTE,Giorgio SERNAGIOTTO,Antonio FUOCO
1856,Kessel Racing #57,23,5,Kessel Racing,Ferrari 488 GTE Evo,LMGTE Am,NaN,Bahrain,8,2021,...,19 Laps,1 Laps,Michelin,Classified,202.0,1:58.026,165.1,Takeshi KIMURA,Mikkel JENSEN,Scott ANDREWS
1857,Iron Lynx #60,24,6,Iron Lynx,Ferrari 488 GTE Evo,LMGTE Am,NaN,Bahrain,8,2021,...,19 Laps,1'46.263,Michelin,Classified,138.0,1:58.199,164.8,Claudio SCHIAVONI,Andrea PICCINI,Matteo CRESSONI
1858,AF Corse #54,25,7,AF Corse,Ferrari 488 GTE Evo,LMGTE Am,NaN,Bahrain,8,2021,...,20 Laps,1 Laps,Michelin,Classified,145.0,1:58.786,164.0,Thomas FLOHR,Francesco CASTELLACCI,Giancarlo FISICHELLA
1859,D'Station Racing #777,26,8,D'Station Racing,Aston Martin Vantage AMR,LMGTE Am,NaN,Bahrain,8,2021,...,20 Laps,27.791,Michelin,Classified,119.0,1:58.915,163.8,Satoshi HOSHINO,Tomonobu FUJII,Andrew WATSON
1860,Iron Lynx #85,27,9,Iron Lynx,Ferrari 488 GTE Evo,LMGTE Am,NaN,Bahrain,8,2021,...,22 Laps,2 Laps,Michelin,Classified,101.0,1:59.747,162.7,Rahel FREY,Sarah BOVY,Katherine LEGGE
1861,GR Racing #86,28,10,GR Racing,Porsche 911 RSR - 19,LMGTE Am,NaN,Bahrain,8,2021,...,23 Laps,1 Laps,Michelin,Classified,197.0,1:57.695,165.5,Michael WAINWRIGHT,Benjamin BARKER,Tom GAMBLE
1862,Aston Martin Racing #98,29,11,Aston Martin Racing,Aston Martin Vantage AMR,LMGTE Am,NaN,Bahrain,8,2021,...,24 Laps,1 Laps,Michelin,Classified,129.0,1:58.624,164.2,Paul DALLA LANA,Augusto FARFUS,Marcos GOMES
1863,TF Sport #33,30,12,TF Sport,Aston Martin Vantage AMR,LMGTE Am,NaN,Bahrain,8,2021,...,119 Laps,95 Laps,Michelin,Not classified,96.0,1:58.799,164.0,Ben KEATING,Dylan PEREIRA,Felipe FRAGA
1864,Dempsey - Proton Racing #88,31,13,Dempsey - Proton Racing,Porsche 911 RSR - 19,LMGTE Am,NaN,Bahrain,8,2021,...,157 Laps,38 Laps,Michelin,Not classified,89.0,1:58.941,163.8,Khaled AL QUBAISI,Axcil JEFFERIES,Julien ANDLAUER