In [1]:
import pandas as pd
import numpy as np

In [2]:
file_paths = [
    '../Datasets/2014/Silverstone_2014.csv',
    '../Datasets/2014/Spa_2014.csv',
    '../Datasets/2014/Bahrain_2014.csv',
    '../Datasets/2014/Cota_2014.csv',
    '../Datasets/2014/Fuji_2014.csv',
    '../Datasets/2014/Interlagos_2014.csv',
    '../Datasets/2014/LeMans_2014.csv',
    '../Datasets/2014/Shanghai_2014.csv',
    '../Datasets/2015/Silverstone_2015.csv',
    '../Datasets/2015/Spa_2015.csv',
    '../Datasets/2015/Bahrain_2015.csv',
    '../Datasets/2015/Cota_2015.csv',
    '../Datasets/2015/Fuji_2015.csv',
    '../Datasets/2015/Nurburgring_2015.csv',
    '../Datasets/2015/LeMans_2015.csv',
    '../Datasets/2015/Shanghai_2015.csv',
    '../Datasets/2016/Silverstone_2016.csv',
    '../Datasets/2016/Spa_2016.csv',
    '../Datasets/2016/Bahrain_2016.csv',
    '../Datasets/2016/Cota_2016.csv',
    '../Datasets/2016/Fuji_2016.csv',
    '../Datasets/2016/Nurburgring_2016.csv',
    '../Datasets/2016/LeMans_2016.csv',
    '../Datasets/2016/Shanghai_2016.csv',
    '../Datasets/2016/Mexico_2016.csv',
    '../Datasets/2017/Silverstone_2017.csv',
    '../Datasets/2017/Spa_2017.csv',
    '../Datasets/2017/Bahrain_2017.csv',
    '../Datasets/2017/Cota_2017.csv',
    '../Datasets/2017/Fuji_2017.csv',
    '../Datasets/2017/Nurburgring_2017.csv',
    '../Datasets/2017/LeMans_2017.csv',
    '../Datasets/2017/Shanghai_2017.csv',
    '../Datasets/2017/Mexico_2017.csv',
    '../Datasets/2018-2019/Silverstone_2018-2019.csv',
    '../Datasets/2018-2019/Spa_2018-2019.csv',
    '../Datasets/2018-2019/Fuji_2018-2019.csv',
    '../Datasets/2018-2019/LeMans_2018-2019.csv',
    '../Datasets/2018-2019/LeMans2_2018-2019.csv',
    '../Datasets/2018-2019/Shanghai_2018-2019.csv',
    '../Datasets/2018-2019/Sebring_2018-2019.csv',
    '../Datasets/2018-2019/Spa2_2018-2019.csv',
    '../Datasets/2019-2020/Silverstone_2019-2020.csv',
    '../Datasets/2019-2020/Fuji_2019-2020.csv',
    '../Datasets/2019-2020/Shanghai_2019-2020.csv',
    '../Datasets/2019-2020/Bahrain_2019-2020.csv',
    '../Datasets/2019-2020/Cota_2019-2020.csv',
    '../Datasets/2019-2020/LeMans_2019-2020.csv',
    '../Datasets/2019-2020/Spa_2019-2020.csv',
    '../Datasets/2019-2020/Bahrain_2019-2020.csv',
    '../Datasets/2021/Algarve_2021.csv',
    '../Datasets/2021/LeMans_2021.csv',
    '../Datasets/2021/Spa_2021.csv',
    '../Datasets/2021/Monza_2021.csv',
    '../Datasets/2021/Bahrain_2021.csv',
    '../Datasets/2021/Bahrain2_2021.csv',
    '../Datasets/2022/Sebring_2022.csv',
    '../Datasets/2022/LeMans_2022.csv',
    '../Datasets/2022/Spa_2022.csv',
    '../Datasets/2022/Monza_2022.csv',
    '../Datasets/2022/Fuji_2022.csv',
    '../Datasets/2022/Bahrain_2022.csv',
    '../Datasets/2023/Bahrain_2023.csv',
    '../Datasets/2023/Algarve_2023.csv',
    '../Datasets/2023/LeMans_2023.csv',
    '../Datasets/2023/Spa_2023.csv',
    '../Datasets/2023/Monza_2023.csv',
    '../Datasets/2023/Fuji_2023.csv',
    '../Datasets/2023/Sebring_2023.csv',
    '../Datasets/2011/LeMans_2011.csv',
    '../Datasets/2012/Silverstone_2012.csv',
    '../Datasets/2012/Spa_2012.csv',
    '../Datasets/2012/Bahrain_2012.csv',
    '../Datasets/2012/Shanghai_2012.csv',
    '../Datasets/2012/Fuji_2012.csv',
    '../Datasets/2012/Interlagos_2012.csv',
    '../Datasets/2012/LeMans_2012.csv',
    '../Datasets/2012/Sebring_2012.csv',
    '../Datasets/2013/Silverstone_2013.csv',
    '../Datasets/2013/Spa_2013.csv',
    '../Datasets/2013/Bahrain_2013.csv',
    '../Datasets/2013/Shanghai_2013.csv',
    '../Datasets/2013/Fuji_2013.csv',
    '../Datasets/2013/Interlagos_2013.csv',
    '../Datasets/2013/LeMans_2013.csv',
    '../Datasets/2013/Cota_2013.csv',
       
]

dfs = []

for file_path in file_paths:
    df = pd.read_csv(file_path, delimiter=';')
    race = file_path.split('/')[-1].split('_')[0]
    season = str(file_path.split('_')[-1].split('.')[0])
    df['race'] = race
    df['season'] = season
    dfs.append(df)


wec_data = pd.concat(dfs, ignore_index=True)

In [3]:
# Rename all columns to lowercase
wec_data.columns = [col.lower() for col in wec_data.columns]

# Rename the 'position' column to 'overall_position'
wec_data.rename(columns={'position': 'overall_position'}, inplace=True)

# Rename the 'fl_lapnum' column to 'fl_lap_number'
wec_data.rename(columns={'fl_lapnum': 'fl_lap_number'}, inplace=True)

# Rename the 'fl_kph' column to 'fl_kph_average'
wec_data.rename(columns={'fl_kph': 'fl_kph_average'}, inplace=True)

# Rename the 'gap_previous' column to 'gap_car_ahead'
wec_data.rename(columns={'gap_previous': 'gap_car_ahead'}, inplace=True)

In [4]:
# Concatenate 'number' and 'team' columns as a new column 'car'
wec_data['car'] = wec_data['team'] + ' #' + wec_data['number'].astype(str)

In [5]:

# Map 'D' to 'Dunlop', 'M' to 'Michelin', and 'G' to 'Goodyear' in the 'Tyres' column
wec_data['tyres'] = wec_data['tyres'].map({'D': 'Dunlop', 'M': 'Michelin', 'G': 'Goodyear', 'P': 'Pirelli', 'H': 'Hankook'})

In [6]:
# Drop the 'Unnamed: 20' column
wec_data = wec_data.drop(['unnamed: 20', 'driver_4', 'division', 'number'], axis=1)

In [7]:
# Create a new column 'class_position' based on 'overall_position' within each 'class'
wec_data['class_position'] = wec_data.groupby(['season', 'race', 'class'])['overall_position'].rank().astype(int)

In [8]:
# Replace single quotes with colons in the 'total_time' and 'fl_time' columns
wec_data['total_time'] = wec_data['total_time'].str.replace("'", ":")
wec_data['fl_time'] = wec_data['fl_time'].str.replace("'", ":")

In [9]:
# Update the condition for Bahrain 2019 to have event_duration as 8
conditions = [
    (wec_data['race'].isin(['LeMans', 'LeMans2'])),
    (wec_data['race'] == 'Sebring') & (wec_data['season'].isin(['2018-2019', '2022', '2023'])),
    (wec_data['race'].isin(['Silverstone', 'Shanghai']) & (wec_data['season'] == '2019-2020')),
    (wec_data['race'] == 'Bahrain') & (wec_data['season'].isin(['2019-2020', '2021', '2022'])),
    (wec_data['race'] == 'Algarve') & (wec_data['season'].isin(['2021'])),
    (wec_data['race'] == 'Sebring') & (wec_data['season'].isin(['2012']))
]

choices = [24, 8, 4, 8, 8, 12]

wec_data['event_duration'] = np.select(conditions, choices, default=6)

In [10]:
# Rename races that occured twice in a season
wec_data['race'] = wec_data['race'].replace('Bahrain2', 'Bahrain 2')
wec_data['race'] = wec_data['race'].replace('Spa2', 'Spa 2')
wec_data['race'] = wec_data['race'].replace('LeMans2', 'LeMans 2')

In [11]:
# Reorder columns as needed
wec_data = wec_data[['car', 'overall_position', 'class_position', 'team', 'vehicle', 'class', 'group', 'race', 'event_duration', 'season', 'laps', 'total_time', 'gap_first', 'gap_car_ahead', 'tyres', 'status', 'fl_lap_number', 'fl_time', 'fl_kph_average', 'driver_1', 'driver_2', 'driver_3']]

In [12]:
# Write the merged dataframe to a new CSV file
wec_data.to_csv('../Datasets/wec_data.csv', index=False)

In [13]:
wec_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car               3035 non-null   object
 1   overall_position  3035 non-null   int64
 2   class_position    3035 non-null   int32
 3   team              3035 non-null   object
 4   vehicle           3035 non-null   object
 5   class             3035 non-null   object
 6   group             428 non-null    object
 7   race              3035 non-null   object
 8   event_duration    3035 non-null   int32
 9   season            3035 non-null   object
 10  laps              3035 non-null   int64
 11  total_time        3026 non-null   object
 12  gap_first         2948 non-null   object
 13  gap_car_ahead     2946 non-null   object
 14  tyres             3035 non-null   object
 15  status            3035 non-null   object
 16  fl_lap_number     3022 non-null   float64
 17  fl_time           3022 non-null   object
 18  fl_kph_average    3022 non-null   float64
 19  driver_1          3035 non-null   object
 20  driver_2          3035 non-null   object
 21  driver_3          2602 non-null   object
dtypes: float64(2), int32(2), int64(2), object(16)
memory usage: 498.1+ KB

In [14]:
# Display the dataset with only the 'class', 'group', 'division', and 'status' columns
subset = wec_data[['class', 'group','status']]
subset.sample(10)

           class group      status
2662        LMP1   NaN  Classified
1977    HYPERCAR   NaN  Classified
2460  LM GTE Pro   NaN  Classified
117         LMP2   NaN  Classified
1621    LMGTE Am   NaN  Classified
725         LMP1     H  Classified
2342    HYPERCAR     H  Classified
566         LMP2   NaN  Classified
735    LMGTE Pro   NaN  Classified
1441        LMP2   NaN  Classified

In [15]:
wec_data.sample(10)

,car,overall_position,class_position,team,vehicle,class,group,race,event_duration,season,...,gap_first,gap_car_ahead,tyres,status,fl_lap_number,fl_time,fl_kph_average,driver_1,driver_2,driver_3
2608,Rebellion Racing #13,4,4,Rebellion Racing,Lola B12/60 Coupé - Toyota,LMP1,NaN,Shanghai,6,2012,...,6 Laps,6 Laps,Michelin,Classified,152.0,1:52.634,174.2,Andrea Belicchi,Harold Primat,Cong Fu Cheng
2275,Kessel Racing #74,38,9,Kessel Racing,Ferrari 488 GTE Evo,LMGTE Am,NaN,LeMans,24,2023,...,39 Laps,1'41.443,Michelin,Classified,181.0,3:53.240,210.3,Kei COZZOLINO,Yorikatsu TSUJIKO,Naoki YOKOMIZO
2079,Spirit of Race #71,26,5,Spirit of Race,Ferrari 488 GTE Evo,LMGTE Am,NaN,Monza,6,2022,...,17 Laps,1 Laps,Michelin,Classified,128.0,1:47.970,193.2,Franck DEZOTEUX,Pierre RAGUES,Gabriel AUBRY
2278,Kessel Racing #57,41,10,Kessel Racing,Ferrari 488 GTE Evo,LMGTE Am,NaN,LeMans,24,2023,...,88 Laps,-10 Laps,Michelin,Retired,8.0,3:52.468,211.0,Takeshi KIMURA,Scott HUFFAKER,Daniel SERRA
543,Dempsey - Proton Racing #77,25,6,Dempsey - Proton Racing,Porsche 911 RSR (2016),LMGTE Pro,NaN,Silverstone,6,2016,...,40 Laps,7 Laps,Michelin,Classified,60.0,2:01.005,175.6,Richard LIETZ,Michael CHRISTENSEN,NaN
2054,Alpine ELF Team #36,1,1,Alpine ELF Team,Alpine A480 - Gibson,HYPERCAR,NaN,Monza,6,2022,...,NaN,NaN,Michelin,Classified,164.0,1:37.760,213.3,André NEGRÃO,Nicolas LAPIERRE,Matthieu VAXIVIERE
647,Strakka Racing #42,31,10,Strakka Racing,Gibson 015S - Nissan,LMP2,NaN,Cota,6,2016,...,128 Laps,99 Laps,Dunlop,Not classified,56.0,1:58.198,168.0,Nick LEVENTIS,Lewis WILLIAMSON,Jonny KANE
2364,ORT by TF #25,28,7,ORT by TF,Aston Martin Vantage AMR,LMGTE Am,NaN,Monza,6,2023,...,17 Laps,25.854,Michelin,Classified,145.0,1:47.985,193.1,Ahmad AL HARTHY,Michael DINAN,Charlie EASTWOOD
133,Porsche Team Manthey #92,23,6,Porsche Team Manthey,Porsche 911 RSR,LMGTE Pro,NaN,Fuji,6,2014,...,34 Laps,1 Laps,Michelin,Classified,9.0,1:41.239,162.3,Frédéric MAKOWIECKI,Patrick PILET,NaN
1749,Porsche GT Team #91,23,4,Porsche GT Team,Porsche 911 RSR - 19,LMGTE Pro,NaN,LeMans,24,2021,...,28 Laps,1 Laps,Michelin,Classified,259.0,3:48.895,214.3,Gianmaria BRUNI,Richard LIETZ,Frédéric MAKOWIECKI